<div class="flex flex-wrap justify-center gap-4">

  <button (click)="newGame.emit()"
    class="flex items-center gap-2 rounded-md bg-red-500 px-6 py-3 font-bold text-red-950 shadow-lg transition-all duration-300 hover:scale-105 hover:bg-red-400">
    <i class="pi pi-refresh text-md"></i>
    Nuevo Juego
  </button>

  <button [disabled]="disabled()" (click)="hit.emit()"
    class="flex items-center gap-2 rounded-md bg-emerald-500 px-6 py-3 font-bold text-emerald-950 shadow-lg transition-all duration-300 hover:scale-105 hover:bg-emerald-400 disabled:opacity-50">
    <i class="pi pi-plus-circle text-md"></i>
    Pedir Carta
  </button>

  <button [disabled]="disabled()" (click)="stand.emit()"
    class="flex items-center gap-2 rounded-md bg-yellow-500 px-6 py-3 font-bold text-yellow-950 shadow-lg transition-all duration-300 hover:scale-105 hover:bg-yellow-400 disabled:opacity-50">
    <i class="pi pi-stop-circle text-md"></i>
    Detener
  </button>

</div>